MTConnectDevices
OPCUA Spec
~*
Thumbs.db
UML
*~
.DS_Store
docs
latex/*.log
latex/*.aux
latex/*.lof
latex/*.out
latex/*.synctex.gz
latex/*.toc
latex/*.dvi
latex/*.bbl
latex/*.bcf
latex/*.blg
latex/*.fls
latex/auto
latex/*.pdf
latex/*.fdb_latexmk
latex/*.run.xml
build
UA-Nodeset
UA-ModelCompiler
UA_Model
simple_test*
UANodeSet.xsd
*.log
./diagram
latex/classes