MTConnectDevices
OPCUA Spec
~*
Thumbs.db
UML
*~
.DS_Store
docs
latex/*.log
latex/mtconnect.aux
latex/mtconnect.lof
latex/mtconnect.out
latex/mtconnect.synctex.gz
latex/mtconnect.toc
latex/mtconnect.out
latex/auto
latex/mtconnect.pdf
