MTConnectDevices
OPCUA Spec
~*
Thumbs.db
UML
*~
.DS_Store
docs
build
UA-Nodeset
UA-ModelCompiler
UA_Model
simple_test*
UANodeSet.xsd
*.log
./diagram
latex/classes
vendor
Gemfile.lock
.bundle
spec/scratch
*.ldb

devices/*.log
devices/*.aux
devices/*.lof
devices/*.out
devices/*.synctex.gz
devices/*.toc
devices/*.dvi
devices/*.bbl
devices/*.bcf
devices/*.blg
devices/*.fls
devices/auto
devices/*.pdf
devices/*.fdb_devicesmk
devices/*.run.xml
devices/*.acn
devices/*.acr
devices/*.gl*
devices/*.*-gl*
devices/*.alg
devices/*.ist
devices/*.lot
devices/*.mw
devices/diagrams/*.pdf

assets/*.log
assets/*.aux
assets/*.lof
assets/*.out
assets/*.synctex.gz
assets/*.toc
assets/*.dvi
assets/*.bbl
assets/*.bcf
assets/*.blg
assets/*.fls
assets/auto
assets/*.pdf
assets/*.fdb_assetsmk
assets/*.run.xml
assets/*.acn
assets/*.acr
assets/*.gl*
assets/*.*-gl*
assets/*.alg
assets/*.ist
assets/*.lot
assets/*.mw
assets/diagrams/*.pdf
